html, body, ul {
    margin: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
 
}

html, body {
    height: 100%;
}

/*create type selected rules for forms*/

.form-section {
    width: 100%;
}

.form-container {
    width: 33%;
    margin: 0 auto;
}

label {

}

input, textarea {
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    width: 100%;
}

/* set form size on smaller devices*/

@media screen and (max-width: 600px) {
    .form-container {
        width: 80%;
    }
}

input[type=text], input[type=email], textarea {

}

input[type=submit] {
    height: 30px;
    width: 90px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12pt;
}

input[type=submit]:hover {
    background:#ff96ad;
    box-shadow: 0 0 5px #ff96ad, 0 0 25px #ff96ad, 0 0 50px #ff96ad, 0 0 200px #ff96ad;

}

.nav-bar {
    background-color: #100B44;
    position: fixed;
    width: 100%;
    min-height: 50px;
}

.nav-menu {
    color: white;
}

.nav-item {
    float: left;
    display: block;
    padding: 15px;

}

.nav-icon {
    display: none;
    font-size: 17pt;
    padding: 10px;

}

.nav-item > a:link, .nav-item > a:visited, .nav-item > a:active, .nav-icon > a:link, .nav-icon > a:visited, .nav-icon > a:active {
    color: white;
    text-decoration: none;
}

.nav-item > a:hover, .nav-icon > a:hover {
    color: #ff96ad;
    /* Taken from W3 Schools - How to Create a Glowing Text: https://www.w3schools.com/howto/howto_css_glowing_text.asp */
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}

@media screen and (max-width: 600px) {
    .nav-item {display: none;}
    .nav-icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 600px) {
    .nav-menu.responsive { 
        color: white;
        position: relative;
    }
    .nav-menu.responsive > .nav-icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .nav-item.responsive {
        float: none;
        display: block;
        text-align: left;
    }
  }

.header {
    padding-top: 50px;
}

.page-container {
    min-height: 100%;
}

.page-title {
    text-align: center;
    font-variant: small-caps;
}

.page-content {
    padding: 1em;
    padding-bottom: 142px;
}

.footer {
    background-color: #100B44;
    color: white;
    padding: 1em;
    text-align: center;
    height: 110px;
    margin-top: -142px;
}

.social {
    color: white;
    font-size: 32pt;
    margin-left: 12px;
    margin-right: 12px;
}