html, body, ul {
    margin: 0px;
}

.nav-bar {
    background-color: #100B44;
}

.nav-menu {}

.header {}

.page-title {}

.page-content {}

.footer {
    background-color: #100B44;
    color: white;
    padding: 1em;
    text-align: center;
}
