html, body, ul {
    margin: 0px;
}


.nav-bar {
    background-color: #100B44;
    position: fixed;
    width: 100%;
}

.nav-menu {}

.header {}

.page-title {
    text-align: center;
    font-variant: small-caps;
}

.page-content {}

.footer {
    background-color: #100B44;
    color: white;
    padding: 1em;
    text-align: center;
}
